extend layout 

block content
    .banner-area-wrapper
        .banner-area.text-center
            .container
                .row
                    .col-12
                        .banner-content-wrapper
                            .banner-content
                                h2 FAQ 

    .faq-area 
        .container 
            .row 
                .col 
                    h2 FAQ 

