extend layout

block styleBlock 
    style.  
        .trending-courses {
            background: #2C2B5E
        }

        .trending-courses .event-content {
            padding: 25px;
            background: #fff
        }

        .event-footer {
            border-top: 1px solid #ccc; background: #fff; padding: 12px 25px; font-weight: bold; font-size: 16px
        }

        .trending-courses h3 { font-size: 30px }

        .trending-courses h4 { font-size: 20px }

block content 
    section#slider-container.slider-area.three
        .slider-owl.owl-theme.owl-carousel
            // Start Slingle Slide
            .single-slide.item(style='background-image: url(img/tech.jpeg)')
                // Start Slider Content
                .slider-content-area
                    .container
                        .row
                            .col-lg-7
                                .slide-content-wrapper
                                    .slide-content
                                        h3 Are you ready for a techy future?
                                        p Become a professional tech guru now
                                        a.default-btn(href='/enroll') Enroll Now
                            .col-lg-5
                                //- .slider-img
                                //-     img(src='img/slider/home.png' alt='slider')
                                // Start Slider Content
                                // End Slingle Slide
                                // Start Slingle Slide

    // About Start
    .about-area.pb-135.pt-100.bg-light
        .container
            .row
                .col-md-6
                    .about-content
                        h2 Welcome to 
                            span Career Builders’ Academy
                        p Your gateway to success in the ever-evolving tech world! Established with the vision of empowering aspiring tech enthusiasts, we are a leading tech training academy committed to providing top-notch education and professional development.
                        p We offer quality, professional training taught according to the world-known methodologies. Our professionalism and dedication to providing the best educational standards and solutions allowed us to gain trust of multiple enterprises all over the globe.

                .col-md-6
                    .aboutimg
                        img(src='img/about/image.png' alt='about').float-end.mt-5


    // Courses Area Start
    .courses-area.pt-100.pb-100.text-center.mb-3
        .container
            .row
                .col-12
                    .section-title
                        img(src='img/icon/section.png' alt='section-title')
                        h2 Our Products
            .row
                .col-lg-4.col-md-6
                    .single-course
                        .course-img
                            a(href='/tech-training')
                                img(src='img/products/p1.png' alt='course')
                                .course-hover
                                    i.fa.fa-link
                        .course-content
                            h3
                                a(href='/tech-training') Tech Training
                            p At Career Builders’ Academy, our mission is to empower individuals and businesses with the knowledge and skills they need to navigate the ever-evolving landscape of technology

                            a.default-btn(href='/tech-training') read more
                .col-lg-4.col-md-6
                    .single-course
                        .course-img
                            a(href='/consultancy')
                                img(src='img/products/p2.png' alt='course')
                                .course-hover
                                    i.fa.fa-link
                        .course-content
                            h3
                                a(href='/consultancy') Tech Consultancy
                            p We bridge the gap between technology and businesses, enabling our clients to thrive in the digital age. We aim to be the go-to resource for companies seeking reliable, unbiased tech expertise, tailored solutions, and long-term support.
                            a.default-btn(href='/consultancy') read more
                .col-lg-4.col-md-6
                    .single-course.mb-0
                        .course-img
                            a(href='/partnership')
                                img(src='img/products/p3.png' alt='course')
                                .course-hover
                                    i.fa.fa-link
                        .course-content
                            h3
                                a(href='/partnership') Partnership
                            p Our partnership offers opportunities for co-branding, joint marketing campaigns, networking events, and knowledge-sharing sessions, further strengthening our ties and creating a cohesive tech ecosystem.
                            a.default-btn(href='/partnership') read more

    .trending-courses.pb-100.pt-80
        .container
            .row
                .col-12.partners
                    h3.text-center.text-white.mb-5 TRENDING COURSES
            .row 
                .col
                    .single-event.mb-35
                        .event-content.text-start
                            h4 Professional Product Owner
                        .event-footer 6 Weeks <span class='float-end'>£450</span>

                .col
                    .single-event.mb-35
                        .event-content.text-start
                            h4 Professional Scrum Master
                        .event-footer 6 Weeks <span class='float-end'>£350</span>

                .col
                    .single-event.mb-35
                        .event-content.text-start
                            h4 UI/UX Desgin
                        .event-footer 6 Weeks <span class='float-end'>£350</span>

            .row.mt-4 
                .col
                    .single-event.mb-35
                        .event-content.text-start
                            h4 Business Analysis
                        .event-footer 6 Weeks <span class='float-end'>£450</span>

                .col
                    .single-event.mb-35
                        .event-content.text-start
                            h4 Product Development (Web and Mobile App)
                        .event-footer 8 Weeks <span class='float-end'>£500</span>

                .col
                    .single-event.mb-35
                        .event-content.text-start
                            h4 Business Process Architecture
                        .event-footer 6 Weeks <span class='float-end'>£350</span>



    // Subscribe Start
    .subscribe-area.pt-100.pb-70
        .container
            .row
                .col-lg-8.offset-lg-2
                    .subscribe-content.section-title.text-center
                        h2 Join our Work Experience today
                        p Transition to your dream career with Bootcamps.. 

                        a(href="/work-experience").default-btn Join Now