doctype html
head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    title Career Builders Academy - #{title}
    meta(name='description' content='')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    // Favicon
    link(rel='shortcut icon' type='image/x-icon' href='img/favicon.png')
    link(rel='stylesheet' href='css/bootstrap.min.css')
    link(rel='stylesheet' href='css/animate.min.css')
    link(rel='stylesheet' href='css/meanmenu.css')
    link(rel='stylesheet' href='css/magnific-popup.css')
    link(rel='stylesheet' href='css/owl.carousel.min.css')
    link(rel='stylesheet' href='css/font-awesome.min.css')
    link(rel='stylesheet' href='css/et-line-icon.css')
    link(rel='stylesheet' href='css/reset.css')
    link(rel='stylesheet' href='css/ionicons.min.css')
    link(rel='stylesheet' href='css/material-design-iconic-font.min.css')
    link(rel='stylesheet' href='css/style.css')
    link(rel='stylesheet' href='css/responsive.css')
    script(src='js/vendor/modernizr-3.11.2.min.js')
    block styleBlock
    style. 
        .partners h4 {
            font-size: 20px;
        }

        .notice { color: #EC1C23; font-weight: bold }

        .bullet { list-style-type: disc }

        .bullet li { margin-left: 25px; line-height: 30px }

        .offer-area h3 { font-size: 28px }

        .form-label { font-weight: bold }
//if lt IE 8
    p.browserupgrade
        | You are using an 
        strong outdated
        |  browser. Please 
        a(href='http://browsehappy.com/') upgrade your browser
        |  to improve your experience.
// Header Area Start
header.top
    .header-top
        .container
            .row
                .col-md-8.col-sm-8
                    .header-top-left
                        p HAVE ANY QUESTION ?  +44 7306 461 984
                .col-md-4.col-sm-4
                    .header-top-right.text-md-end.text-center
                        ul
                            li
                                a(href='#/login') login
                            li
                                a(href='#/signup') signup
    .header-area.two.header-sticky
        .container
            .row
                .col-md-3.col-sm-5.col-6
                    .logo
                        a(href='/')
                            img(src='img/logo/logo.png' alt='Career Buiders Academy logo')
                .col-md-9.col-sm-7.col-6
                    .content-wrapper.text-end
                        // Main Menu Start
                        .main-menu
                            nav
                                ul
                                    li
                                        a(href='/') Home
                                    li
                                        a(href='/about') About
                                    li
                                        a(href='#/products') Products
                                    li
                                        a(href='#/resources') Resources
                                    li
                                        a(href='#/faq') FAQ
                                    li
                                        a(href='#/contact') Contact

                        // Main Menu End
                .col-12
                    .mobile-menu.hidden-sm
// Header Area End
// Background Area Start

block content


.footer-bottom.pb-4
    .container
        .row
            .col-12.partners
                h4.text-white.my-4 OUR PARTNERS
        .row 
            .col
                img(src='img/partners/p1.png')
            //- .col
            //-     img(src='img/partners/p2.png')
            .col
                img(src='img/partners/p3.png')
            .col
                img(src='img/partners/p4.png')
// Footer Start
footer.footer-area
    .main-footer
        .container
            .row
                .col-lg-4.col-md-6
                    .single-widget.pr-60
                        .footer-logo.pb-25
                            a(href='/')
                                img(src='img/logo/logo.png' alt='career buiders')
                        p
                            | we are a leading tech training academy committed to providing top-notch education and professional development.
                        .footer-social
                            ul
                                li
                                    a(href='https://www.facebook.com/devitems/?ref=bookmarks')
                                        i.zmdi.zmdi-facebook
                                li
                                    a(href='https://www.pinterest.com/devitemsllc/')
                                        i.zmdi.zmdi-youtube
                                li
                                    a(href='https://www.pinterest.com/devitemsllc/')
                                        i.zmdi.zmdi-instagram

                .col-lg-3.col-md-6
                    .single-widget
                        h3 Career Builders
                        ul
                            li
                                a(href='#') Home
                            li
                                a(href='#') About
                            li
                                a(href='#') Products
                            li
                                a(href='#') Resources
                            li
                                a(href='#') FAQ
                .col-lg-2.col-md-6.pt-4.pt-lg-0
                    .single-widget
                        h3 useful links
                        ul
                            li
                                a(href='#') Privacy
                            li
                                a(href='#') Cookies
                            li
                                a(href='#') Teams &amp; Conditions

                .col-lg-3.col-md-6.pt-4.pt-lg-0
                    .single-widget
                        h3 get in touch
                        p
                            | +44 7306 461 984
                        p +234 7032 375 495

                        p
                            | connect@decareerbuilders.com
                            br
                            | www.decareerbuiders.com

    .footer-bottom.text-center
        .container
            .row
                .col-12
                    p
                        | Copyright &copy; 
                        a(href='/') Career Builders' Academy
                        |  2023. All Right Reserved By 
                        a(href='https://decareerbuilders.com') CBA.
// Footer End
script(src='js/vendor/jquery-3.6.0.min.js')
script(src='js/vendor/jquery-migrate-3.3.2.min.js')
script(src='js/bootstrap.bundle.min.js')
script(src='js/jquery.meanmenu.js')
script(src='js/jquery.magnific-popup.js')
script(src='js/ajax-mail.js')
script(src='js/owl.carousel.min.js')
script(src='js/jquery.mb.YTPlayer.js')
script(src='js/jquery.nicescroll.min.js')
script(src='js/plugins.js')
script(src='js/main.js')
